<div class = 'login'>


<h2>Delete Your Business</h2>
<p>
  Are you sure you want to remove your business?
</p>




    Restaurant: <%- restaurants.restaurant_name %>
    <br />

    Email: <%- restaurants.email %>
    <br />

    Cuisine: <%- restaurants.cuisine %>
    <br />

    Address: <%- restaurants.address %>
    <br />

    Description: <%- restaurants.description %>
    <br />

    Location: <%- restaurants.location %>




<form action="/business/<%- restaurants._id %>/delete?_method=delete" method="post">
  <input type="submit" value = 'Delete'>
</form>
</div>
