<div class = 'login'>


<h2>Edit</h2>
<form action="/business/<%- business._id %>/edit/?_method=put" method="POST">
  <h3><%- business.restaurant_name %></h3>
  Location: <%- business.location %>
  <div class="form-group">
    <label for="Address">Address</label>
    <input id="Address" class="form-control" type="text" name="address" value = '<%- business.address %>'>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" class="form-control" type="text" name="description" value = '<%- business.description %>'>
  </div>
  <div class="form-group">
    <label for="Promotions">Promotions</label>
    <input id="Promotions" class="form-control" type="text" name="promotion" value = '<%- business.promotion %>'>
  </div>



<br /><br />
  <input type="submit" value = 'Update'>

</form>
</div>
