<div class = 'login'>


<h2>Edit</h2>
<form action="/business/<%- business._id %>/edit/?_method=put" method="POST">
  <h3><%- business.restaurant_name %></h3>
  Location: <%- business.location %>
  <div class="form-group">
    <label for="Address">Address</label>
    <input id="Address" class="form-control" type="text" name="address" value = '<%- business.address %>'>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" class="form-control" type="text" name="description" value = '<%- business.description %>'>
  </div>
  <div class="form-group">
    <label for="Promotions">Promotions</label>
    <input id="Promotions" class="form-control" type="text" name="promotion" value = '<%- business.promotion %>'>
  </div>



<br /><br />
  <input type="submit" value = 'Update' class ='button is-success'>

</form>
<a class = 'button is-primary' id = "delete" onclick="<% bizDelete() %>">Delete</a>
<% function bizDelete(){ %>
  document.getElementById('modaldelete').classList.add('is-active')
<% } %>
<div class="modal" id="modaldelete">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete Your Business</p>
      <button class="delete" onclick = "<% closeModal() %>"></button>
    </header>
    <section class="modal-card-body">
      <p>
        Are you sure you want to remove your business?
      </p>
          Restaurant: <%- business.restaurant_name %>
          <br />
          Email: <%- business.email %>
          <br />
          Cuisine: <%- business.cuisine %>
          <br />
          Address: <%- business.address %>
          <br />
          Description: <%- business.description %>
          <br />
          Location: <%- business.location %>
    </section>
    <footer class="modal-card-foot">
      <form action="/business/<%- business._id %>/delete?_method=delete" method="post">
        <button class="button is-danger" type="submit"> Delete</button>
      </form>
      <a class="button" onclick="<% closeModal() %>">Cancel</a>
      <% function closeModal() { %>
        document.getElementById('modaldelete').classList.remove('is-active')
      <% } %>
    </footer>
  </div>
</div>
</div>
