<h2>Business Details</h2>

<ul>

    <li>
    <%- restaurants.restaurant_name %>
    </li>
    <li>
      <%- restaurants.email %>
    </li>
    <li>
      <%- restaurants.cuisine %>
    </li>
    <li>
      <%- restaurants.address %>
    </li>
    <li>
      <%- restaurants.contact %>
    </li>
    <li>
      <%- restaurants.description %>
    </li>

    <li>
      <%- restaurants.promotion %>
    </li>
    <li>
      <%- restaurants.location %>
    </li>



</ul>

<a href = '/user/edit'>Edit Account</a>

<a href = '/business/edit'>Edit Business</a>
<a href = '/business/delete'>Delete Business</a>
