<h2>Business Details</h2>

<% restaurants.forEach(function(data){ %>
<ul>
    <li>
    <%- data.restaurant_name %>
    </li>
    <li>
      <%- data.email %>
    </li>
    <li>
      <%- data.cuisine %>
    </li>
    <li>
      <%- data.address %>
    </li>
    <li>
      <%- data.contact %>
    </li>
    <li>
      <%- data.description %>
    </li>

    <li>
      <%- data.promotion %>
    </li>
    <li>
      <%- data.location %>
    </li>
</ul>
<a href = '/business/<%- data._id %>/edit'>Edit Business</a>
<% }) %>




<a href = '/bizreg'>Create New Business</a>
<a href = '/user/edit'>Edit Account</a>


<a href = '/business/delete'>Delete Business</a>
