
<div class = 'restaurantprofile'>
<%  restaurant.forEach(function(data){ %>
  <h2><%- data.restaurant_name %></a></h2>
  <b>Serving:</b> <%- data.cuisine %> Cuisine
  <br /> <br />
  <b>In:</b> <%- data.location %>
  <br><br />
</div>

<div class = 'description'>
  <b>Description:</b>
    <%- data.description %>
<br /><br />
  <b>Find them at:</b>
    <%- data.address %>
<br /><br />
  <b>Ongoing Promotions:</b>
  <%- data.promotion %>
</div>
<div class= 'reviewheader'>
<a href = '/reviews/<%- data.id %>'>Write a Review</a>
<% }) %>
<br /><br />
  <b>Reviews</b>
</div>

<%  review.forEach(function(data){ %>
  <div class = 'review'>
<b>Title: </b><%= data.title %>
<br />
<b>Comment: </b><%= data.comment %>
</div>
<% }) %>
