<div class = 'cardsz'>

    <% restaurant.forEach(function (data){ %>

      <div class="card ">
          <div class="card-image">
              <figure class="image is-4by3">
                    <img src="<%= data.picture %>" href = 'restaurant/profile/<%- data._id %>' alt="Image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">
                            <a href = 'restaurant/profile/<%- data._id %>'><%= data.restaurant_name %>
                        </p>
                    </div>
                </div>

                <div class="content">
                    <%= data.description %>

                </div>
            </div>
        </div>
<br />

        <%  }) %>


      </div>
