
<div class = 'restaurantprofile'>
  <h2><%- restaurant.restaurant_name %></a></h2>
  <b>Serving:</b> <%- restaurant.cuisine %> Cuisine
  <br /> <br />
  <b>In:</b> <%- restaurant.location %>
  <br><br />
</div>

<div class = 'description'>
  <b>Description:</b>
    <%- restaurant.description %>
<br /><br />
  <b>Find them at:</b>
    <%- restaurant.address %>
<br /><br />
  <b>Ongoing Promotions:</b>
  <%- restaurant.promotion %>
</div>

<a href = '/reviews/<%- restaurant.id %>'>Write a Review</a>


<div class = 'review'>
  <b>Reviews</b>
  <br /><br />

<b>Title: </b><%= review[0].title %>
<br />
<b>Comment: </b><%= review[0].comment %>
</div>
